In [2]:
from flask import Flask, render_template, jsonify
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
import pandas as pd

In [3]:
engine = create_engine("sqlite:///belly_button_biodiversity.sqlite")
#engine = create_engine('sqlite:///belly_button_biodiversity.sqlite', connect_args={'check_same_thread': False}, echo=False)

# Declare a Base using `automap_base()`
Base = automap_base()
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)
# Assign the samples class to a variable called `Samples`
Samples = Base.classes
# Create a session
session = Session(engine)
#session = scoped_session(sessionmaker(bind=engine))
# Create connection
conn = engine.connect()

first_row = session.query(Samples.samples).first()

data_samples = pd.read_sql("SELECT * FROM samples", conn)

In [15]:
results = db.session.query(Emoji.otu_id, Emoji.BB_940).\
        order_by(Emoji.BB_940.desc()).\
        limit(10).all()
df = pd.DataFrame(results, columns=['name', 'score'])

NameError: name 'db' is not defined

In [10]:
default_data = []
for c in data_samples.columns[1:]:
    sample_values = []
    otu_id = []

    for x in range(len(data_samples[c])):
        if data_samples[c][x] != 0:     
            sample_values.append(data_samples[c][x])
            otu_id.append(data_samples['otu_id'][x])
    temp_df = pd.DataFrame({'sample_values': sample_values, 'otu_id': otu_id}, 
                           columns=['sample_values', 'otu_id'])
    temp_df = temp_df.sort_values('sample_values', ascending=False).reset_index(drop=True)
    temp_df['otu_id'] = temp_df['otu_id'].astype(str)
    s_list = list(temp_df.sample_values)
    o_list = list(temp_df.otu_id)

default_data = [{
"labels": o_list[0:3],
"values": s_list[0:3],
"type": "pie"}]

In [11]:
z = pd.DataFrame(default_data[0])

In [12]:
z

  labels type  values
0   1929  pie     166
1   3030  pie     129
2   1795  pie      97

In [13]:
z.dtypes

labels    object
type      object
values     int64
dtype: object

In [8]:
z['labels'] = z['labels'].astype(str)

In [9]:
z.dtypes

labels    object
type      object
values     int64
dtype: object