In [11]:
import datetime as dt
import numpy as np
import pandas as pd

from flask import (
    Flask,
    render_template,
    jsonify,
    request,
    redirect)

In [12]:
app = Flask(__name__)

In [13]:
#################################################
# Database Setup
#################################################
from flask_sqlalchemy import SQLAlchemy
# The database URI
app.config['SQLALCHEMY_DATABASE_URI'] = "sqlite:///belly_button_biodiversity.sqlite"

db = SQLAlchemy(app)

class Samples(db.Model):
    __tablename__ = 'samples'

    id = db.Column(db.Integer, primary_key=True)
    otu_id = db.Column(db.String)
    BB_940 = db.Column(db.Integer)

    def __repr__(self):
        return '<Samples %r>' % (self.otu_id)

# Create database tables
@app.before_first_request
def setup():
    # Recreate database each time for demo
    # db.drop_all()
    db.create_all()

/Users/niyatidesai/anaconda3/envs/pythondata_3/lib/python3.6/site-packages/flask_sqlalchemy/__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [14]:
results = db.session.query(Samples.otu_id, Samples.BB_940).\
        order_by(Samples.BB_940.desc()).\
        limit(10).all()
df = pd.DataFrame(results, columns=['otu_id', 'BB_940'])

In [15]:
df

   otu_id  BB_940
0    1167     163
1    2859     126
2     482     113
3    2264      78
4      41      71
5    1189      51
6     352      50
7     189      47
8    1977      40
9    2318      40

In [16]:
df.dtypes

otu_id    int64
BB_940    int64
dtype: object

In [17]:
default_data = []
for c in data_samples.columns[1:]:
    sample_values = []
    otu_id = []

    for x in range(len(data_samples[c])):
        if data_samples[c][x] != 0:     
            sample_values.append(data_samples[c][x])
            otu_id.append(data_samples['otu_id'][x])
    temp_df = pd.DataFrame({'sample_values': sample_values, 'otu_id': otu_id}, 
                           columns=['sample_values', 'otu_id'])
    temp_df = temp_df.sort_values('sample_values', ascending=False).reset_index(drop=True)
    temp_df['otu_id'] = temp_df['otu_id'].astype(str)
    s_list = list(temp_df.sample_values)
    o_list = list(temp_df.otu_id)

default_data = [{
"labels": o_list[0:3],
"values": s_list[0:3],
"type": "pie"}]

NameError: name 'data_samples' is not defined

In [11]:
z = pd.DataFrame(default_data[0])

In [12]:
z

  labels type  values
0   1929  pie     166
1   3030  pie     129
2   1795  pie      97

In [13]:
z.dtypes

labels    object
type      object
values     int64
dtype: object

In [8]:
z['labels'] = z['labels'].astype(str)

In [9]:
z.dtypes

labels    object
type      object
values     int64
dtype: object